<div class="container-card m-auto">
  <p-carousel
      [value]="vehicles"
      [numVisible]="1"
      [numScroll]="3"
      [circular]="true"
      [responsiveOptions]="responsiveOptions">
          <ng-template let-vehicle pTemplate="item">
              <div class="border-1 surface-border border-round m-2 p-3">
                  <div class="mb-3">
                      <div class="relative mx-auto">
                          <img
                              [src]="vehicle.imageUrl"
                              [alt]="vehicle.brand"
                              class="w-full h-27rem border-round" />

                      </div>
                  </div>
                  <div class="mb-3">
                      {{vehicle.brand}}
                  </div>
                  <div class="flex justify-content-between align-items-center">
                  <div class="mt-0 font-semibold text-xl">
                      {{ 'R$ ' + vehicle.value}}
                  </div>
                      <span>
                        <p-button label="Falar com vendedor" class="w-full" styleClass="w-full" />
                      </span>
                  </div>
              </div>
          </ng-template>
  </p-carousel>
</div>
