<div class="flex flex-wrap gap-3 justify-content-center">
  @for (vehicle of vehicles; track $index) {
    <p-card
    [header]="vehicle.brand"
    [subheader]="'R$ '+ vehicle.value"
    [style]="{ 'max-width': '360px' }"
  >
    <ng-template pTemplate="header">
      <img
        class="h-14rem"
        alt="Card"
        [src]="vehicle.imageUrl"
      />
    </ng-template>
    <div class="flex justify-content-between">
      <p>KM: {{vehicle.kilometers}}</p>
      <p>Placa: {{vehicle.registrationPlate}}</p>
    </div>
      <p>{{vehicle.description.substring(0, 150) + '...' }}</p>
    <ng-template pTemplate="footer">
      <div>
        <p-button label="Falar com vendedor" class="w-full" styleClass="w-full" />
      </div>
    </ng-template>
  </p-card>
  }
</div>



