<div class="flex justify-content-center mt-8 mb-4">
  <p-avatar icon="pi pi-instagram" class="pointer" styleClass="mr-2" size="large" [style]="{ 'background-color': '#3B82F6', color: '#FFF' }" shape="circle" />
  <p-avatar icon="pi pi-facebook" class="pointer" styleClass="mr-2" size="large" [style]="{ 'background-color': '#3B82F6', color: '#FFF' }" shape="circle" />
  <p-avatar icon="pi pi-whatsapp" class="pointer" styleClass="mr-2" size="large" [style]="{ 'background-color': '#3B82F6', color: '#FFF' }" shape="circle" />
</div>